/* ================= GLOBAL ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #C8E7FD;
}

/* ================= WRAPPER ================= */
.admin-wrapper {
    display: flex;
    height: 100vh;
    padding: 20px;
}

/* ================= SIDEBAR ================= */
.sidebar {
    width: 240px;
    background: #ffffff;
    border-radius: 20px;
    padding: 0px 18px 20px 18px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 15px rgba(0,0,0,0.05);
}

/* ================= LOGO ================= */
.logo {
    height: 150px;                 
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 5px;
    position: relative;   
}

.logo img {
    width: 200px;                  
    height: 130px;                 
    object-fit: contain;
    display: block;
}


.logo::after {
    content: "";
    position: absolute;
    left: 10%;
    width: 80%;
    height: 1px;
    background: #b7b7b7;

    bottom: 25px;   
}

/* ================= MENU ================= */
.menu {
    list-style: none;
}

.menu li {
    margin-bottom: 12px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 14px;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    background: #f3f3f3;
    font-weight: 500;
    transition: background 0.2s ease, color 0.2s ease;
}

.menu a:hover {
    background: #e3f2fd;
    color: #1e88e5;
}

/* ================= ICON ================= */
.material-icons {
    font-size: 20px;
}

/* ================= LOGOUT ================= */
.logout-btn {
    margin-top: auto;
    background: #ff1a1a;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.2s;
}

.logout-btn:hover {
    background: #d10000;
}

/* ================= CONTENT ================= */
.content {
    flex: 1;
    background: #f5f7fa;
    margin-left: 20px;
    border-radius: 20px;
    padding: 25px;
    overflow: auto;
}