* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #C8E7FD;
}

/* WRAPPER */
.admin-wrapper {
    display: flex;
    height: 100vh;
    padding: 20px;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: white;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* LOGO */
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo-img {
    width: 40px;
    margin-bottom: 5px;
}

/* MENU */
.menu {
    list-style: none;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    background: #f2f2f2;
    transition: 0.2s;
}

.menu a:hover {
    background: #e0e0e0;
}

/* LOGOUT */
.logout-btn {
    background: red;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

/* CONTENT */
.content {
    flex: 1;
    background: #f5f5f5;
    margin-left: 20px;
    border-radius: 18px;
    padding: 20px;
    overflow: auto;
}
